.aboutSection {
  position: sticky;
  padding: 10px;
  margin-top: 45px;
}

.greenMe {
  width: 100%;
  height: auto;
}

.sectionTitle {
  --i: 40px;
  width: fit-content;
  box-shadow: 0 -40px #95c289 inset;
  text-indent: calc(-1 * var(--i));
  padding-right: var(--i);
  margin-left: var(--i);
  font-family: Georgia, "Times New Roman", Times, serif;
}
