.experience {
  background-color: #ffde9e;
  border-radius: 0.25em;
  box-shadow: 3px 3px #efc918, -1em 0 0.4em #ff8400;
  border: 0.25rem solid black;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 20px;
}

.heading {
  font-family: "Barriecito", system-ui !important;
  text-align: "center";
}

.badgesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.badgeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .skillsSection {
    grid-template-columns: 1fr;
  }
}
